.footer{
    background-color: #000000;
    width: 100%;
    padding: 60px;
    color: white;

}
.footer__header{
    height: 100%;
    font-family: var(--font-family-nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}
.footer__headers{
    height: 100%;
    width: 100%;
}
.footer__headers, .footer__links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.footer__link{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 20px;

}
.footer__link a{
    color: var(--color-for-footer-links);
    display: inline-block;
    margin: 3px 0px;
    font-weight: 400;
    font-family: var(--font-family-nav);
}
.footer__link a:hover{
    color: white;
    transition: color 0.3s ;
}
.footer_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.footer_icons img{
    width: 30px;
    margin-left: 20px;
}
.footer__label{
    color: var(--color-for-footer-links);
    font-family: var(--font-family-nav);
    font-size: 12px;
}
#text_back{
    border: 1px solid white;
    display: inline-block;
    height: 40px;
    width: 300px;
    padding: 0 5px;
}
.submit__button{
    background-color: white;
    width: 135px;
    height: 40px;
    color: black;
    padding: 0;
    margin: 0;
}
.footer_copyright{
    color: var(--color-for-footer-links);
    font-size: 10px;

}
.last_section{

    align-items: end;
    gap: 2em;
    flex-wrap: wrap;
}