@import "reset.css";
@import "base.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "burger.css";

body, html {
    padding: 0;
}


@media (max-width: 1100px) {
    .logo > h1{
        font-size: 30px;
        font-weight: bold;
    }
    .nav__item *{
        font-size: 10px;
    }
    .fourth__slider__first__image{
        padding-right: 0;
    }


}
@media (max-width: 1000px) {

    .last_section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;
        width: 100%;
    }
    .footer__label{
        display: none;
    }
    .footer_input{
        display: flex;
        flex-direction: row;
    }
    #text_back{
        height: 40px;
        width: 300px;
        padding: 0 5px;
    }
    .burger {
        display: block;
    }

    .navbar__container {
        display: none; /* ховаємо меню за замовчуванням */

    }
    .nav_burger_el {
        display: none; /* ховаємо меню за замовчуванням */
        flex-direction: column;
        align-items: center;
        background: #fff; /* або колір хедера */
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 10px 0;
        z-index: 1000;
    }


    /* коли бургер увімкнено */
    .menu-toggle:checked ~ .nav_burger_el {
        display: flex;
    }

    .logo {
        z-index: 1002;
    }
    .nav__item *:hover{
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
        color: var(--nav-link-font-color);
        text-decoration: underline;
        transition-duration:  0.3s;


    }
    .logo > h1{
        font-size: var(--logo-font-sz);
    }
    .nav__item *{
        font-size: var(--font-size-nav);
    }


    .logo__image{
        font-size: calc(var(--logo-text-sz)*0.8);


    }

    .button__image a{
        font-size: calc(var(--logo-p-sz)*0.8);


    }
    .first__slider_logo {

        font-size: calc(var(--logo-font-sz)*0.8);


    }
    .third__text{
        font-size: 30px;
    }


    .slide__text {
        font-size: 20px;

    }

    .slide__logo {
        font-size: 24px;
    }



}
@media (max-width: 890px) {
    .first__slider{
        flex-direction: column;
        gap: var(--margin-blocks);
        align-items: center;
    }

    .buttons__image__additional,.second__buttons__image__additional{
        left: 38%;
    }
    .text__image{
        left: 38%;

    }



}

@media (max-width: 750px) {

    .slider > :nth-last-child(-n+2) {
        display: none;
    }
    .slide_el{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .decorative__element{
    }
    .slide__logo{
        margin-bottom: var(--margin-blocks);
    }
    .slide__text {
        margin-bottom: 0;
        font-size: 20px;

    }
    .slider{
        gap: 20px;
    }
    .logo__image {
        font-size: calc(var(--logo-text-sz) * 0.6);
    }
    .third__text {
        font-size: 20px;
    }
    .first__slider_logo {
        font-size: calc(var(--logo-font-sz) * 0.6);
    }
    .fourth__text_conatainer{
        display: none;
    }
    .fourth__slider{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .media_750_fourth{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--nav-link-font-color-active);
        margin-bottom: var(--margin-blocks);
        background-color: #f5f5f5;
        padding: var(--margin-blocks);
    }
    .button_fourth {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .br_rem{
        display: none;
    }
    .title__logo{
        text-align: center;
    }

    .title__logo{
        font-size: calc(var(--logo-font-sz)*0.8);

    }
    .button_fourth a {

        font-size: calc(var(--font-size-nav)*0.8);
    }
    .text__image__fourth {

        text-align: center;
    }






}
@media (max-width: 500px) {
    #text_back {

        width: 200px;

    }
    .logo__image{
        text-align: center;
    }
    .footer_input {

        flex-direction: column;

    }
    .submit__button{
        width: 200px;
    }
    .last_section {

        justify-content: center;

    }
    .footer_icons{
        display: block;
    }
    .text__image {
        left: 28%;
    }
    .buttons__image__additional, .second__buttons__image__additional {
        left: 28%;
    }
    .logo__image {
        font-size: calc(var(--logo-text-sz) * 0.5);
    }
    .text__image {
        font-size: calc(var(--logo-p-sz)*0.8);
    }
}
@media (max-width: 350px) {
    .first__slider_logo {
        font-size: calc(var(--logo-font-sz) * 0.4);
    }
    .text__image {
        font-size: calc(var(--logo-p-sz) * 0.7);
    }
    .third__text{
        font-size: 15px;
    }
    .button__image a {
        font-size: calc(var(--logo-p-sz) * 0.6);
    }
    .text__image {
        left: 32%;
    }
    .buttons__image__additional, .second__buttons__image__additional {
        left: 23%;
    }

}