@import "reset.css";
@import "base.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "burger.css";

body, html {
    padding: 0;
}


@media (max-width: 1100px) {
    .logo > h1{
        font-size: 30px;
        font-weight: bold;
    }
    .nav__item *{
        font-size: 10px;
    }


}
@media (max-width: 1000px) {

    .last_section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;
        width: 100%;
    }
    .footer__label, .footer_icons{
        display: none;
    }
    .footer_input{
        display: flex;
        flex-direction: row;
    }
    #text_back{
        height: 40px;
        width: 300px;
        padding: 0 5px;
    }
    .burger {
        display: block;
    }

    .navbar__container {
        display: none; /* ховаємо меню за замовчуванням */

    }
    .nav_burger_el {
        display: none; /* ховаємо меню за замовчуванням */
        flex-direction: column;
        align-items: center;
        background: #fff; /* або колір хедера */
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 10px 0;
        z-index: 1000;
    }


    /* коли бургер увімкнено */
    .menu-toggle:checked ~ .nav_burger_el {
        display: flex;
    }

    .logo {
        z-index: 1002;
    }
    .nav__item *:hover{
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
        color: var(--nav-link-font-color);
        text-decoration: underline;
        transition-duration:  0.3s;


    }
    .logo > h1{
        font-size: var(--logo-font-sz);
    }
    .nav__item *{
        font-size: var(--font-size-nav);
    }


    .logo__image{
        font-size: calc(var(--logo-text-sz)*0.8);


    }
    .text__image{
        font-size: calc(var(--logo-p-sz)*0.8);


    }
    .button__image a{
        font-size: calc(var(--logo-p-sz)*0.8);


    }
    .first__slider_logo {

        font-size: calc(var(--logo-font-sz)*0.8);


    }
    .third__text{
        font-size: 30px;
    }
    .title__logo{
        font-size: calc(var(--logo-font-sz)*0.8);

    }
    .button_fourth a {

        font-size: calc(var(--font-size-nav)*0.8);
    }

    .slide__text {
        font-size: 20px;

    }

    .slide__logo {
        font-size: 24px;
    }



}
@media (max-width: 890px) {
    .first__slider{
        flex-direction: column;
        gap: var(--margin-blocks);
        align-items: center;
    }

    .buttons__image__additional,.second__buttons__image__additional{
        left: 38%;
    }
    .text__image{
        left: 38%;

    }
    .fourth__text_conatainer{
        padding-left: 450px;

    }

}

@media (max-width: 750px) {
    .slider{
        flex-direction: column;
        height: auto;
    }
    .decorative__element{
        display: none;
    }
    .slide__logo{
        margin-bottom: var(--margin-blocks);
    }
    .slide__text {
        margin-bottom: 0;
        font-size: 20px;

    }
    .slider{
        gap: 20px;
    }



}